
body {
    margin: 0;
    font-family:'Times New Roman', Times, serif
  }

h2{
  text-align: center;
  color: brown;
}

#message-div{
  display: none;
}

#tasks-header {
    display: flex;
    justify-content: center;
    background:rgb(138, 138, 175);
    opacity: .8;
    height: 7rem;
    padding: 1rem;
  }
  
#tasks-header img {
    height: 7rem;
    width: auto;
  }

.container{
    margin: 6px;
}

.taskImage{
  justify-self: center;
  height: 8rem;
  width: auto;
}

#tasks-collection {
    margin: 5px;
  }
  
#tasks_container {
   border: grey solid 1px;
   padding: 3rem;
   margin: 2rem 1rem;
   background-color:rgb(237, 237, 251);
   display: none;
  }

  .task{
    background-color:rgba(124, 173, 214, 0.609) ;
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: 12rem;
    height: 12rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #e04b52
  }
  
  .task-avatar {
    justify-self: center;
    height: 12rem;
    width: auto;
  }

.input-text {
    border-radius: 5px;
    height: 2rem;
    width: 40%;
    font-size: 18px;
    font-family: monospace;
    margin: 3px;
  }

  .submit {
    position: relative;
    background-color: #e04b52;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
    font-family: monospace;
    margin: 3px;
  }
  
  .submit:hover {
    background-color: whitesmoke;
    border: #e04b52 solid 1px;
    color: #e04b52;
  }

  button {
    position: relative;
    background-color: #e04b52;
    border: none;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
    margin: 5px;
  }
  
  button:hover {
    background-color: whitesmoke;
    border: #e04b52 solid 1px;
    color: #e04b52;
  }

  #new-toy-btn{
    display: none;
  }
  